/* ********************************* */
/* HERO SECTION */
/* ********************************* */

.hero {
  height: 100vh;
  /* padding: 0 4.8rem; */
  background-image: linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.8),
      rgba(26, 26, 26, 0.35)
    ),
    url(../img/hero-img.png);
  background-size: cover;
  background-position: center;
  /* position: relative; */
}

/* .hero-content {
  max-width: 65rem;
  margin-left: 14.4rem;
  margin-top: 7.8rem;
} */

.hero-content {
  max-width: 65rem;
  position: absolute;
  left: 14.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content .heading-primary {
  /* color: var(--text-white); */
  color: #ffe066;
  margin-bottom: 8rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 2;
  /* color: var(--text-white); */
  color: #fff9db;
  margin-bottom: 6.4rem;
}

.hero-btns {
  display: flex;
  gap: 3.2rem;
}

.hero .btn {
  font-size: 2.4rem;
  /* color: var(--text-white); */
  color: #fcc419;
}

/* .--btn-full {
  background-color: #97760f;
  font-weight: 600;
  color: white !important;
} */

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;

  transition: transform 350ms, box-shadow 100ms;
}

.hero-btn:hover {
  transform: scale(1.15);
  box-shadow: 0 0.6rem 1.2rem -0.3rem #f1ff5c;
}

.hero-icon {
  height: 3rem;
  width: 3rem;
}
/* ********************************* */
/* NAVIGATION */
/* ********************************* */
.main-nav {
  display: flex;
  width: 100%;
  height: 9.6rem;
  padding: 0 4.8rem 0 14.4rem;
  font-size: 3.2rem;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3.2rem;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: inline-block;
  padding: 1rem;

  transition: all 50ms;
}

.nav-link:hover {
  border-bottom: 0.5rem solid #ffe066;
}

.header-logo {
  height: 70%;
}

.logo {
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #ffe066;
}

.btn-mobile-nav {
  background: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

.icon-mobile-nav {
  color: #ffe066;
  width: 5.8rem;
  height: 5.8rem;
}

.icon-mobile-nav[name='menu-outline'] {
  display: block;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}
