/* ********************************* */
/* HERO SECTION */
/* ********************************* */

.hero {
  height: 100vh;
  /* padding: 0 4.8rem; */
  background-image: linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.8),
      rgba(26, 26, 26, 0.35)
    ),
    url(../img/hero-img.png);
  background-size: cover;
  background-position: center;
  /* position: relative; */
}

/* .hero-content {
  max-width: 65rem;
  margin-left: 14.4rem;
  margin-top: 7.8rem;
} */

.hero-content {
  max-width: 65rem;
  position: absolute;
  left: 14.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content .heading-primary {
  /* color: var(--text-white); */
  color: #ffe066;
  margin-bottom: 8rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 2;
  /* color: var(--text-white); */
  color: #fff9db;
  margin-bottom: 6.4rem;
}

.hero-btns {
  display: flex;
  gap: 3.2rem;
}

.hero .btn {
  font-size: 2.4rem;
  /* color: var(--text-white); */
  color: #fcc419;
}

/* .--btn-full {
  background-color: #97760f;
  font-weight: 600;
  color: white !important;
} */

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;

  transition: transform 350ms, box-shadow 100ms;
}

.hero-btn:hover {
  transform: scale(1.15);
  box-shadow: 0 0.6rem 1.2rem -0.3rem #f1ff5c;
}

.hero-icon {
  height: 3rem;
  width: 3rem;
}
/* ********************************* */
/* NAVIGATION */
/* ********************************* */
.main-nav {
  display: flex;
  width: 100%;
  height: 9.6rem;
  padding: 0 4.8rem 0 14.4rem;
  font-size: 3.2rem;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3.2rem;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: inline-block;
  padding: 1rem;

  transition: all 50ms;
}

.nav-link:hover {
  border-bottom: 0.5rem solid #ffe066;
}

.header-logo {
  height: 70%;
}

.logo {
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #ffe066;
}

.btn-mobile-nav {
  background: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

.icon-mobile-nav {
  color: #ffe066;
  width: 5.8rem;
  height: 5.8rem;
}

.icon-mobile-nav[name='menu-outline'] {
  display: block;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* ********************************* */
/* STICKY NAVIGATION */
/* ********************************* */
.main-nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(51, 155, 240, 0.95);
  z-index: 999;
  box-shadow: 0 0.5rem 1.2rem 0.1rem rgba(0, 0, 0, 0.199);
}

/* ********************************* */
/* CHARACTERS */
/* ********************************* */

.characters-section {
  background-color: var(--background-light);
}

/* .characters-section .heading-secondary {
  margin-bottom: 9.6rem;
} */

.characters-section .heading-tertuary {
  margin-bottom: 3.2rem;
}

.character-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

.character-img-box {
  width: 50%;
  justify-self: center;
}

.character-img-box img {
  width: 100%;
  border-radius: 50%;
  border: 0.7rem solid #339af0;
}

/* ********************************* */
/* FAQ */
/* ********************************* */
.faq-section {
  height: 100vh;
}

/* .faq-section .heading-secondary {
  margin-bottom: 4.8rem;
} */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  /* Not sure about whether I want the gap to be responsive here... */
  /* gap: 3.2rem; */
}

.faq-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.question-item {
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.075);
  padding: 3.2rem;
}

.question {
  cursor: pointer;
}

.question-number {
  color: var(--text-lightest);
  font-weight: 700;
}

.faq-btns {
  background: none;
  border: none;
}

.question-answer {
  grid-column: 2;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;

  display: none;
}

.active .question-answer {
  display: block;
}

.faq-icon {
  background-color: transparent;
}

.faq-icon[name='arrow-up-outline'] {
  display: none;
}

.active .faq-icon[name='arrow-up-outline'] {
  display: block;
}

.faq-icon[name='arrow-down-outline'] {
  display: block;
}

.active .faq-icon[name='arrow-down-outline'] {
  display: none;
}

.active.question-item {
  border-top: 4px solid #fcc419;
}

.active .question-number {
  color: var(--text-default);
}

/* AUTHORS / CREATORS SECTION  */
.authors-section {
  background-color: var(--background-light);
}

.overflow-border {
  height: 55rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  /* border: 3px solid red; */
}

.carousel {
  height: 37.5rem;
  width: 95%;
  display: inline-block;
  border: 5px solid #fcc419;
  box-shadow: 0 0 2.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-color: #fff;
  position: relative;
}

.slide {
  padding: 0 6.4rem 0 12.8rem;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 350ms;
}

.author-img-box {
  height: 100%;
  box-shadow: 0 -4rem 2.8rem -0.5rem rgba(0, 0, 0, 0.15),
    0 4rem 2.8rem -0.5rem rgba(0, 0, 0, 0.15);
}

.author-img {
  display: inline-block;
  width: 95%;
  height: 100%;
  height: 37.5rem;
  transform: scale(1.2);
  border-radius: var(--radius-main);
  border-radius: 30px;
  border: 3px solid #7e620d;
}

.author-text {
  padding-right: 3.2rem;
  align-self: center;
}

.biograpy {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 2.8rem;
}

.author-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  color: #7e620d;
}

.author-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.author-btn-left {
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.author-btn-right {
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}

.dots {
  display: flex;
  gap: 1rem;

  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 2rem;
  height: 2rem;
  border: 0.4rem solid #fcc419;
  border-radius: 50%;
  cursor: pointer;
}

.dot.dot-active {
  background-color: #fcc419;
}
